// Place all the styles related to the Lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.title-banner {
    font-size: 80px;
    color: #4c5846e0;
    text-shadow: beige 1.5px 1px;
    background-position: center;
    text-align: center;
    position: relative;
}

.banner-home {
  background-position: center;
  background-size: contain;
  height: 300px;
}

element.style {
    border: solid darkblue;
    border-radius: 15px;
}

.btn {
    border-radius: 16px;
    padding: 4px 8px;
    background-color: deepskyblue;
    text-align: center;
    color: aliceblue;
}

.btn :hover {
  color: aliceblue;
}


// card category
.card-category {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 80px;
  padding-bottom: 80px;
  margin: 16px;
  margin-bottom: 32px;
}
